
/* Slider */
.slider {
    height: 250px;
    left: 50%;
    margin: -125px -225px;
    position: absolute;
    top: 48%;
    width: 450px;
    /*box-shadow*/
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}
.slider .c-style-5 {
    height: 250px;
    position: relative;
}
.slider .c-style-5 .slide {
    height: 250px;
    list-style: none;
    position: absolute;
    width: 450px;
}
.slider .slide:target { z-index: 100 }
.slider .c-style-5 .slide img {
    height: 250px;
    width: 450px;
}
.slider .c-style-5 .slide nav a {
    background: hsla(0,0%,0%,.75);
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    margin-top: -25px;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 50%;
    width: 50px;
    visibility: hidden;
    z-index: 10;
}
.slider:hover .c-style-5 .slide nav a {
    opacity: 1;
    visibility: visible;
}
.slider .c-style-5.slide nav .prev {
    /*border-radius*/
    -webkit-border-radius: 0 25px 25px 0;
    -moz-border-radius: 0 25px 25px 0;
    border-radius: 0 25px 25px 0;
    left: 0;
}
.slider .c-style-5.slide nav .next {
    /*border-radius*/
    -webkit-border-radius: 25px 0 0 25px;
    -moz-border-radius: 25px 0 0 25px;
    border-radius: 25px 0 0 25px;
    right: 0;
}
.slider .c-style-5 .slide nav a:hover { background: #000 }
